
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>신규 메뉴 등록 테스트 2</h1>
    <form action="/menu/regist2" method="post">

        <label>메뉴 이름 : </label>
        <input type="text" name="menuName"> <!-- DTO 필드와 맞춰주기 -->
        <label>메뉴 가격 : </label>
        <input type="number" name="menuPrice"> <!-- DTO 필드와 맞춰주기 -->

        <label>카테고리 : </label> <!-- 내부에서 조회한 값을 넣어주기 (script에 fetch) -->
        <select name="categoryCode" id="categoryCode">

        </select>
        <label>판매 여부 : </label>
        <select name="orderableStatus">
            <option value="Y">가능</option>
            <option value="N">불가능</option>
        </select><br>
        <input type="submit" value="등록하기">
    </form>

    <script>
        // 서버에 카테고리 가져오게 요청 보내고 , 가져와서 담겨 있는 상태
        fetch('/menu/category') // 이제 js 형태로 바꿔줘야 함
            .then(res => res.json()) // js 객체로 변환
            .then(data => {
                const $categoryCode
                    = document.getElementById("categoryCode");
                console.log("$categoryCode : " + $categoryCode);

                // data list 형태이기 때문에 반복문
                for (let index in data) { // 배열 형식으로 들어있기 때문에 for in 반복문으로 하나씩 꺼내줌
                    // 반복하는 만큼 option 태그 만들기
                    const $option = document.createElement("option");
                    $option.value = data[index].categoryCode; // index가 가지고 있는 categoryCode에 접근
                    console.log("$option.value : " + $option.value);

                    $option.textContent = data[index].categoryName;
                    console.log("$option.textContent : " + $option.textContent);

                    $categoryCode.appendChild($option);
                }
            })
    </script>
</body>
</html>